*.*~
*.db
*.log
*.ini
*.dat
.emacs.d/%backup%~
.semanticdb/
.history
TeamViewer/
Adobe/
BaiduYunKernel/
DTLSoftMgr/
DtlCalendar/
DtlWallPaper/
GitHub/
InstallPlugin/
JetBrains/
KuaiZip/
Macromedia/
Microsoft/
NetSarang/
Notepad++/
NuGet/
SQLyog/
TaobaoProtect/
Tencent/
VisualAssist/
baidu/
dtldown/
icons/
kingsoft/
Sublime Text 2/
Sublime Text 3/
迅雷游戏/
Foxmail7/
yspkg5eua0il/
.ICEauthority
.Xauthority
.bash_history
.bash_logout
.bashrc
.cache/
.compiz/
.config/
.dmrc
.gconf/
.local/
.mozilla/
.profile
.ssh/
.xinputrc
.xsession-errors
.xsession-errors.old
examples.desktop
*.deb
.m2/
.zcompdump
.zsh_history
.zshrc
Download/
Work/
