*.*~
*.db
*.log
*.ini
*.dat
.emacs.d/%backup%~
.semanticdb/
.history
TeamViewer/
Adobe/
BaiduYunKernel/
DTLSoftMgr/
DtlCalendar/
DtlWallPaper/
GitHub/
InstallPlugin/
JetBrains/
KuaiZip/
Macromedia/
Microsoft/
NetSarang/
Notepad++/
NuGet/
SQLyog/
TaobaoProtect/
Tencent/
VisualAssist/
baidu/
dtldown/
icons/
kingsoft/
Sublime Text 2/
Sublime Text 3/
迅雷游戏/
Foxmail7/
yspkg5eua0il/
.ICEauthority
.Xauthority
.bash_history
.bash_logout
.bashrc
.cache/
.compiz/
.config/
.dmrc
.gconf/
.local/
.mozilla/
.profile
.ssh/
.xinputrc
.xsession-errors
.xsession-errors.old
examples.desktop
*.deb
.m2/
.zcompdump
.zsh_history
.zshrc
Download/
Work/
.:F89AA64
.CFUserTextEncoding
.DS_Store
.Trash/
.gradle/
.lesshst
.lldb/
.mysql_history
.npm/
.oh-my-zsh/
.python-eggs/
.subversion/
.vim/
.viminfo
.vimrc
.wakatime.cfg
*.zcompdump-wuwenqing*
.zsh-update
.zshrc-e
.zshrc.pre-oh-my-zsh
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
OpenSource/
Pictures/
Public/
bin/
emacs_config/
Sites/
Applications
Applications (Parallels)/.atom/.apm/_locks/atom-message-panel-066a044abffd4b60.lock
.atom/
.composer
eide-*
custom.el
.emacs.d/elpa/themes/solarized/.gitignore
.emacs.d/elpa/themes/solarized/.gitignore
.emacs.d/elpa/themes/solarized/.gitignore
.emacs.d/ido.last
ido.last
smex-items
.emacs.d/.emacs.desktop
.emacs.d/.emacs.desktop.lock
.emacs.d/.session
.emacs.d/.smex-items
.emacs.d/history
.emacs.d/recentf
.node-gyp.gitignore_global
.node-gyp/
.sh_history
scripts